@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #131313e4; 
border-radius: 5px;
}
::-webkit-scrollbar-thumb {
background: #ffffff32; 
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #000000; 
}

#root{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 20rem;   
    
}
#p_root{
    display: flex;
    position:fixed;
    height: auto;
    width: auto; 
    z-index: 9002;
    }
*{
    box-sizing: border-box;
    font-family: "Barlow", serif;
    font-weight: 400;
    font-style: normal;
    color: #131313;
    background-color: #131313;
    cursor: default;
    transition: all 0,3s ease-in-out;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
main {
    flex: 1; 
}
div{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}
nav{
    display: inline-flexbox;
    background-color: inherit;
}
ul{
    background-color: inherit;
    padding: 0px;
    margin: 0px;
}
li{
    display: inline-block;
    background-color: inherit;
}
h1{
    font-weight: bolder;
    background-color: transparent;
}
a{
    background-color: transparent;
}
.content{
    display: flex;
    margin-top: 20vh;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 9000;
}



@media (max-width: 1360px) {

    #root{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .content {
        margin-top: 10vh;
    }
}

@media (max-width: 1024px) {
    #root{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .content {
        margin-top: 10vh;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #root{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .content {
        margin-top: 10vh;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    #root{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .content {
        margin-top: 10vh;
        padding: 0 5%;
    }
}